<!-- Block notification
============================================ -->
<section class="uk-section">
    <div class="uk-container">
        {% include 'builder/partials/twig/block-titles.twig' with { 'block_global_settings': block_global_settings, 'order_first': 'subtitle' } %}

        <div class="uk-alert-danger" uk-alert>
            <p class="uk-text-large">{{ __( 'This block doesn\'t have class and/or view assigned and can\'t be rendered. Please add/or class and view with <strong>\'php app/console/create-block.php\'</strong> command.', theme_text_domain ) | raw }}</p>
        </div>
    </div>
</section>