<!-- Offcanvas
============================================ -->
<div id="offcanvas" uk-offcanvas="mode: none; flip: true; overlay: true">
    <div class="uk-offcanvas-bar uk-offcanvas-menu-bar">
        <button class="uk-offcanvas-close uk-close-large" type="button" uk-close></button>

        {# Site logo #}
        <div class="uk-logo uk-flex uk-flex-center uk-margin-top">
            {% include 'template-parts/twig/site-logo.twig' %}
        </div>

        <div class="uk-margin-large-top uk-text-center">
            {# Offcanvas navigation #}
            {% if has_nav_menu('primary') %}
                {{ wp_nav_menu({
                    'theme_location'    : 'primary',
                    'items_wrap'        : '<ul class="offcanvas-nav uk-nav">%3$s</ul>'
                }) }}
            {% endif %}
        </div>
    </div>
</div>