    <div class="hero-section-block uk-container uk-flex uk-flex-middle uk-flex-center uk-text-center">
        <div class="uk-width-3-5@l">
            {# Title and subtitle #}
            {% include 'builder/partials/twig/block-titles.twig' with { 'block_global_settings': block_global_settings } %}

            {# Content #}
            {% if block_details.content != '' %}
                <div class="uk-flex uk-flex-center uk-margin-medium-top">
                    <div class="hero-content uk-width-3-4@m">
                        {{ block_details.content | raw }}
                    </div>
                </div>
            {% endif %}

            {# CTA button #}
            {% if block_global_settings.have_cta %}
                <div class="uk-child-width-auto@s uk-flex-center uk-margin-medium-top uk-grid-small" uk-grid>
                    {{ get_ctas( block_global_settings.have_cta ) }}
                </div>
            {% endif %}
        </div>
    </div>
</section> <!-- Hero Section block end -->