    <div class="pagetitle-block">
        {% if block_details.mobile_image %}
            <div class="cover-image uk-position-left uk-width-1-1 uk-height-1-1 uk-hidden@m" style="background-image: url('{{ block_details.mobile_image.url | e }}');"></div>
        {% endif %}

        <div class="uk-container uk-text-center uk-text-left@m">
            <div uk-grid>
                <div class="uk-width-{{ block_details.content_width }}@m">
                    {# Title and subtitle #}
                    {% include 'builder/partials/twig/block-titles.twig' with { 'block_global_settings': block_global_settings } %}

                    {# Content #}
                    {% if block_details.content != '' %}
                        <div class="uk-margin-top">{{ block_details.content | raw }}</div>
                    {% endif %}

                    {# CTA button #}
                    {% if block_global_settings.have_cta %}
                        <div class="uk-child-width-auto@s uk-flex-center uk-flex-left@m uk-margin-medium-top uk-grid-small" uk-grid>
                            {{ get_ctas( block_global_settings.have_cta ) }}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</section> <!-- Pagetitle block end -->