    <div class="uk-container">
        {# Title and subtitle #}
        {% include 'builder/partials/twig/block-titles.twig' with { 'block_global_settings': block_global_settings } %}

        {# Content #}
        {% if block_details.content != '' %}
            <div class="uk-margin-top">{{ block_details.content | raw }}</div>
        {% endif %}

        {# CTA button #}
        {% if block_global_settings.have_cta %}
            <div class="uk-child-width-auto@s uk-flex-center uk-flex-left@m uk-margin-medium-top uk-grid-small" uk-grid>
                {{ get_ctas( block_global_settings.have_cta ) }}
            </div>
        {% endif %}
    </div>
</section> <!-- WordPress content block end -->