{% include 'template-parts/twig/header.twig' %}

<hr class="uk-margin-large-top uk-margin-bottom">

<!-- Main
============================================ -->
<section id="page404" class="transition uk-section" style="background-image: url('{{ bg_image.url }}');">
    <div class="uk-container">
        <div>
            <h1>{{ title }}</h1>

            <p class="uk-text-large">{{ content | raw }}</p>

            {% if cta_one_label != '' and cta_one_url is not null or cta_two_label != '' and cta_two_url is not null %}
                <div class="uk-child-width-auto@s uk-margin-medium-top uk-grid-small" uk-grid>
            {% endif %}

            {% if cta_one_label != '' and cta_one_url is not null %}
                {% include 'template-parts/twig/cta-button.twig' with {
                    'cta_label'             : cta_one_label,
                    'cta_url'               : cta_one_url,
                    'cta_style'             : 'secondary',
                    'additional_classes'    : '',
                    'additional_attributes' : '',
                    'new_tab'               : false
                } %}
            {% endif %}

            {% if cta_two_label != '' and cta_two_url is not null %}
                {% include 'template-parts/twig/cta-button.twig' with {
                    'cta_label'             : cta_two_label,
                    'cta_url'               : cta_two_url,
                    'cta_style'             : 'outline',
                    'additional_classes'    : '',
                    'additional_attributes' : '',
                    'new_tab'               : false
                } %}
            {% endif %}

            {% if cta_one_label != '' and cta_one_url is not null or cta_two_label != '' and cta_two_url is not null %}
                </div>
            {% endif %}
        </div>
    </div>
</section> <!-- #main end -->

<hr class="uk-margin-large-top uk-margin-large-bottom">

{% include 'template-parts/twig/footer.twig' %}