<!-- Article
============================================= -->
<article id="main" class="post-<?php the_ID(); ?>" <?php post_class(); ?>>
    <div class="uk-container">
        <div class="article-content uk-width-2-3@m">
            <div class="article-featured-image'">
                {# Featured image #}
                {% if featured_image_url != '' %}
                    <div class="article-featured-image">
                        <img src="{{ featured_image_url | e }}" alt="{{ title }}">
                    </div>
                {% endif %}
            </div>

            <h1>{{ title }}</h1>

            {{ content | raw }}
        </div>
    </div>
</article><!-- Article end -->