<!-- Builder notification
============================================ -->
<section class="uk-section">
    <div class="uk-container">
        <h1>{{ title }}</h1>

        <p class="uk-text-large">{{ __('Please use page builder to add blocks to the page.', theme_text_domain) }}</p>
    </div>
</section>